*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size:16px;
    overflow-x: hidden;
    font-family: 'Flamenco', cursive;
    
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url('../images/bgcafe.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix:after{
    content:'.';
    
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin: 0 auto;
}

.logo{
    
    height: 150px;
    width:auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float:right;
    margin-top: 25px;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

.main-nav a{
    padding: 5px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-nav a:hover{
    color: #bf55ec;
    border-bottom: 2px solid #bf55ec;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
}

.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%);
    /* border: 1px solid;     */

}

h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: lighter;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
     
}

.btn-full:hover{
    background-color: white;

}

.btn-nav{
    background-color:transparent;
    color: white;
    border:1px solid #fff;

}
.btn-nav:hover{
    background-color:#bf55ec ;
}

header{
    font-family: 'Flamenco', cursive;
}

.color-change{
    animation:  colorchange 1s infinite;
}
.mobileIcon{
    display: none;
}

@keyframes colorchange{
    0%{color:red}
    25%{color:#bf55ec}
    50%{color:white}
    100%{color:#bf55ec}
}



@media only screen and (max-width:1180px ){
    .main-content-header{
        width:100%;
        padding: 0 10%;
    }
}


@media only screen and (max-width:1000px){
    h1{
        font-size:200%
    }
}

@media only screen and (max-width:800px){
    h1{
        font-size:180%;
    }
    .main-nav{
        display:none
    }
    .mobileIcon{
        display: inline-block;
        color: white;
        float: right;
        margin-top:30px;
        margin-right:50px; 
        
    }

    .main-nav{float:left}
    .main-nav li{
        display: block;
        margin-top:10px;
    }

}


@media only screen and (max-width:480px){
    .btn-full{
        margin-bottom: 20px;
    }
    h1{
        font-size: 140%;
    }

}